* text=auto eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.glb binary
*.gltf text eol=lf
*.spv binary
*.wav binary
*.jar binary
*.bat text eol=crlf
/mobile/android/gradlew text eol=lf
